* { /* selecciona todos los elementos de la pagina */
  box-sizing: border-box; /* hace que todo quede dentro del width */
  font-family: Arial, sans-serif;
}

.header-blog2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; 
    background-color: #1e1e20;
    padding: 15px 50px;
    color: #ffffff;
}

.img-boti{
    max-height: 50px;
    width: auto;
}

header nav a {
    margin: 0 8px;
    text-decoration: underline;
    color: #ffffff;
}

.contenido-caso1{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.texto-caso {
  flex: 1;
  min-width: 0;
}

.contenido-caso1 h1{
    margin-bottom: 20px;
}

.contenido-caso1 p{
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.contenido-caso2{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.texto-caso {
  flex: 1;
  min-width: 0;
}

.contenido-caso2 h1{
    margin-bottom: 20px;
}

.contenido-caso2 p{
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.contenido-caso3{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.texto-caso {
  flex: 1;
  min-width: 0;
}

.contenido-caso3 h1{
    margin-bottom: 20px;
}

.contenido-caso3 p{
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.btn-volver {
  display: inline-block;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 8px 16px;
  border-radius: 4px;
}

.imagen{
    width: 350px;
  flex-shrink: 0;
}

.imagen-caso img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

img { /* se agrega sin clase y sin punto, para que seleccione
    todas las imagenes de la pagina */
  max-width: 100%;
  height: auto;
  display: block;
}